<html>
    <head>
        <title>Игорь Пидор!</title>
    </head>
    <body>
        <div>
            <h1> <a href="/">  Игорь пидор</a></h1>
        </div>

        <div>
            <p>Почему же он пидор?</p>
            <p>Потому что</p>
            <h2> <a href="/"> Как же я это понял?</a></h2>
            <P>хз</P>
        </div>

        <div>
            <p>ХзХзХЗ</p>
            <h2><a href="">Тут я уже хз что написать</a></h2>
            <P>Сейчас будет текст который я просто скопировал</P>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
        </div>

    </body>
</html>